<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="false" thread-count="5"   name="Catalog">
   
	<test name="TNT_GALEN_TEST" >
	<classes>
	<class name="com.teachingpark.java.code.tests.TNTPageTest"></class>
	  </classes>
	</test>

</suite>